@{
    ViewData["Title"] = "检查任何交易信息";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<script>
    function checkTx(txId) {
        location.href = "https://www.vpubchain.net/abe/tx/" + txId;
    }
</script>

输入交易哈希值进行查询（如果您接收或发送公币，每个一次交易都有一个唯一的交易哈希值）:
<input id="tx" name="tx" class="form-control ng-pristine ng-valid ng-empty is-invalid ng-touched" placeholder="请输入交易哈希值" aria-label="Enter a tx id" onchange="checkTx(this.value)">
<ul class="account-info">
    <li ng-show="ajaxReq.type != 'CUS'" class="">
        <a class="btn btn-primary ng-scope" href="https://www.vpubchain.net/abe/tx/e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33" target="_blank" rel="noopener noreferrer">
            点击查询
        </a>
    </li>
    @*<li ng-show="ajaxReq.type != 'CUS'" class="">
            <a href="https://live.blockcypher.com/vpub/tx/e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33/" target="_blank" rel="noopener noreferrer" class="btn btn-primary ng-scope">
                Use Blockcypher.com
            </a>
        </li>
        <li ng-show="ajaxReq.type != 'CUS'" class="">
            <a href="https://chainz.cryptoid.info/vpub/tx.dws?e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33" target="_blank" rel="noopener noreferrer" class="btn btn-primary ng-scope">
                Use CryptoId.info
            </a>
        </li>*@
</ul>